@font-face {
  font-family: 'Akkurat';
  font-display: auto;
  src: url('/fonts/akkurat-light.ttf');
  font-weight: 100 300;
  font-style: normal;
}

@font-face {
  font-family: 'Akkurat';
  font-display: auto;
  src: url('/fonts/akkurat-regular.ttf');
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: 'Akkurat';
  font-display: auto;
  src: url('/fonts/akkurat-bold.ttf');
  font-weight: 600 900;
  font-style: normal;
}

@font-face {
  font-family: 'Px-Grotesk';
  font-display: auto;
  src: url('/fonts/Px-Grotesk-Light.ttf');
  font-weight: 100 300;
  font-style: normal;
}

@font-face {
  font-family: 'Px-Grotesk';
  font-display: auto;
  src: url('/fonts/Px-Grotesk-Regular.ttf');
  font-weight: 400 500;
  font-style: normal;
}

@font-face {
  font-family: 'Px-Grotesk';
  font-display: auto;
  src: url('/fonts/Px-Grotesk-Bold.ttf');
  font-weight: 600 900;
  font-style: normal;
}

:root {
  --black: #000;
  --white: #fff;
  --gray: #262c2f;
  --lightgray: #f7fafc;

  --blue: #4799ff;
  --red: #fc3f3b;

  --basefont: Akkurat, Open Sans, sans-serif;
  --titlefont: Px-Grotesk, Akkurat, Open Sans, sans-serif;
  --fontlight: 200;
  --fontregular: 400;
  --fontbold: 800;

  --fontsm: 0.85rem;
  --fontmd: 1.25rem;
  --fontlg: 2rem;
  --fontxl: 3rem;
  --fontxxl: 4.4rem;

  --ease: cubic-bezier(0.55, 0.2, 0.53, 0.94);
  --cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94);

  --baseboxshadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
    0 8px 16px -8px rgba(0, 0, 0, 0.3);
  --baseborderradius: 5px;

  --basepadding: 20px;
  --skewedcontent: 45%;
  --contentmaxwidth: 60%;

  --illustrationborderradius: 5px;
  --illustrationboxshadow: 0 1px 3px rgba(188, 193, 217, 0.12),
    0 5px 12px rgba(188, 193, 217, 0.25);
  --illustrationlightbackground: #f7fafc;
  --illustrationavfont: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --illustrationease: cubic-bezier(0.74, -0.21, 0.51, 1.39);
}

@media (max-width: 767px) {
  :root {
    --skewedcontent: 100%;
    --contentmaxwidth: 100%;
    --fontxl: 7vw;
    --fontxxl: 8vw;
  }
}

::selection {
  background: var(--blue); /* WebKit/Blink Browsers */
  color: #fff;
}
::-moz-selection {
  background: var(--blue); /* Gecko Browsers */
  color: #fff;
}

* {
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-font-feature-settings: 'pnum';
  font-feature-settings: 'pnum';
  font-variant-numeric: proportional-nums;
  font-family: var(--basefont);
  box-sizing: border-box;
}

.hidden {
  height: 0;
  visibility: hidden;
  display: none;
  opacity: 0;
  z-index: -5;
  pointer-events: none;
}

body {
  margin: 0;
  padding: 0;
}

main,
footer {
  position: relative;
  max-width: 1800px;
  margin: auto;
  box-sizing: border-box;
  overflow: hidden;
}

main {
  min-height: 800px;
  padding: 20px;
}

a,
button,
input,
select,
textarea,
label {
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

input[type='text'],
input[type='button'],
input[type='submit'],
textarea {
  -webkit-appearance: none;
  border-radius: 0;
  position: relative;
  width: 100%;
  padding: 10px 0 5px 0;
  color: var(--black);
  background-color: transparent;
  border: none;
  outline: none;
  font-size: var(--fontmd);
  line-height: 2.2rem;
  text-overflow: ellipsis;
  -webkit-appearance: none;
}

textarea {
  min-height: 62px;
  max-height: 150px;
  resize: none;
}

input::placeholder,
textarea::placeholder {
  font-size: var(--fontmd);
  color: var(--black);
  transition: opacity 0.25s var(--cubic);
  opacity: 0;
}
